[submodule "hugo/themes/PaperMod"]
	path = hugo/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "hugo/themes/blowfish"]
	path = hugo/themes/blowfish
	url = https://github.com/nunocoracao/blowfish
